:root {
  --bg-color: #f0f0f0;
  --txt-color: #221e22;
  --yellow: #e29f01;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body,
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  overflow: hidden;
  background-color: var(--backgound-color);
}
.container {
  /* display: flex; */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.nav {
  display: flex;
  justify-content: space-between;
  z-index: 99;
  color: var(--white);
  position: fixed;
  padding: 0 8rem;
  align-items: center;
  top: 0;
  width: 100%;
  height: 8rem;
}
.cart i {
  font-size: 3rem;
  cursor: pointer;
}
.menu i {
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
}
.logo {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 4px;
  cursor: pointer;
}
.hamburger {
  cursor: pointer;
  position: relative;
}
.social {
  display: flex;
  color: var(--white);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
}
.social i {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  color: var(--white);
  transition: 0.2s ease-in-out;
}
.social i:hover {
  transform: rotate(30deg);
}
.fashion {
  z-index: 2;
  writing-mode: vertical-lr;
  color: var(--white);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  font-size: 2rem;
  font-weight: 800;
}

[class*="col-"] {
  display: flex;
  align-items: center;
  z-index: 2;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

[class*="col-"] {
  padding: 1rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.z-index-99 {
  z-index: 99;
}
.txt-yellow {
  color: var(--yellow);
}
.info {
  color: var(--white);
  text-align: right;
  position: relative;
  overflow: visible;
  width: 100%;
  height: 80%;
  padding-top: 20rem;
  display: flex;
  align-items: center;
  padding-left: 6rem;
}
.product-info h1 {
  font-size: 12rem;
  font-weight: 800;
  line-height: 12rem;
  justify-content: left;
  display: flex;
}

.collection {
  font-size: 1.4rem;
  margin-right: 10rem;
  font-weight: 600;
}
.product-info p {
  display: flex;
  justify-content: left;
  font-size: 1.4rem;
  text-align: left;
  margin-top: 3rem;
  width: 89%;
}
.product-info button {
  margin-right: 10rem;
  padding: 1rem 4rem;
  border-radius: 2rem;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 800;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.3s ease-in-out;
}

.product-info button:hover {
  background-color: var(--white);
  color: var(--black);
}
.slider {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
  height: 100%;
  overflow: visible;
}
.slide {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.img-holder {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* margin-top: 20rem; */
}
@media only screen and (max-width: 600px) {
  .col-xs-1 {
    width: 8.33%;
  }

  .col-xs-2 {
    width: 16.66%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-5 {
    width: 41.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-11 {
    width: 91.66%;
  }

  .col-xs-12 {
    width: 100%;
  }
  .h-xs {
    display: none;
  }
}
